
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

* {
	box-sizing: border-box;
}

#beepi-master-container {
	position: relative;
	width: 80%;
	left: 10%;
}

/* GENERAL STYLES */

/* light blue: #32acff; */

h1 {
	font-weight: 200;
	color: #32acff;
	letter-spacing: 1px;
}

sup {
	font-size: 60%;
}

.hidden {
	width: 0px !important;
	height: 0px !important;
	margin: 0px !important;
	opacity: 0;
	-webkit-transform: translateY(-50%);
}


/* HEADER */

#header {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#header #logo {
	width: 150px;
}


/* SEARCH BAR */

#search-bar {
	width: 100%;
	height: 80px;
	margin-top: 50px;
	background: #FBFBFB;
	border: 2px solid #CCC;
	border-radius: 5px;
	color: #32acff;
	padding-left: 30px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 24pt;
	font-weight: 400;
	outline: none;

	-webkit-transition: border 0.3s linear;
	-moz-transition: border 0.3s linear;
	transition: border 0.3s linear;
}

#search-bar:focus {
	border: 2px solid #32acff;
}


/* RANGE SELECTOR */

#range-container {
	width: 100%;
	margin-top: 50px;	
}

#buckets-master-container {
	position: relative;
	width: 100%;
	height: 125px;
	overflow: hidden;
}

.buckets-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	background: #CCC;

	-webkit-transition: top 2s ease;
	-moz-transition: top 2s ease;
	transition: top 2s ease;
}

.buckets-background.show-bars {
	top: 0;
}

.buckets-background.active {
	background: #32acff;
}

#buckets-container {
	width: 100%;
	height: 100%;
	//background: #CCC;
}

.bucket {
	position: relative;
	float: left;
	bottom: 0;
	background: #fff;
}

.bucket:last-child {
	float: none;
	overflow: hidden;
	width: auto !important;
}

#range-selector {
	width: 100%;
}

#range-prices-container {
	width: 100%;
	height: 30px;
	margin-top: 30px;
	font-size: 130%;
	font-weight: 300;
	color: #666;
}

#range-price-left {
	float: left;
}

#range-price-right {
	float: right;
}


/* RESULTS SUMMARY */


#results-summary {
	position: relative;
	width: 100%;
	display: inline-block;
	margin-top: 50px;
	font-size: 130%;
	font-weight: 300;
}

#results-summary #num-results {
	font-size: 160%;
	color: #32acff;
}

#results-summary .query {
	font-style: italic;
	border-bottom: 2px solid #32acff;
	font-size: 160%;
	color: #32acff;
}

#view-all {
	position: relative;
	display: inline-block;
	float: right;
	padding: 10px;
	margin-top: 5px;
	border: 2px solid #32acff;
	border-radius: 5px;
	color: #32acff;
	background: #fff;
	font-family: 'Source Sans Pro';
	outline: none;
	cursor: pointer;

	-webkit-transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

#view-all:hover {
	opacity: 0.6;
}

/* CAR GRID */

#cars-container {
	width: 102%;
	margin-top: 30px;
	margin-left: -1%;
	clear: both;
}

.car {
	//background: url("../assets/images/image_placeholder.jpg");
	background: url("//static.beepi.com/images/CarPhotos/16625/Listing/0.jpg");
	background-size: cover;
	position: relative;
	float: left;
	width: 31.33%;
	margin: 10px 1%;
	overflow: hidden;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.car:after {
	padding-top: 66.66%;
	display: block;
	content: '';
}

.car:hover > .car-info {
	bottom: 0;
}

.car:hover > .like-container {
	margin-left: 0;
}

.car-info {
	position: absolute;
	width: 100%;
	bottom: -27px;
	/*background: rgba(0,0,0,0.7);*/
	background: linear-gradient(0deg, rgba(0,0,0,0.95), rgba(0,0,0,0));
	color: #fff;
	padding: 10px;

	-webkit-transition: bottom 0.5s ease;
	-moz-transition: bottom 0.5s ease;
	transition: bottom 0.5s ease;
}

.car-info .car-name {
	position: relative;
	float: left;
	max-width: 75%;
	font-weight: 400;
	font-size: 110%;
}

.car-info .car-price {
	position: relative;
	float: right;
	font-weight: 300;
	font-size: 110%;
}

.car-info .car-more-info {
	clear: both;
	margin-top: 30px;
	font-weight: 200;
	color: #FBFBFB;
}

.car .like-container {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 20%;

    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}

.car .like-container::before,
.car .like-container::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-color: transparent;
    border-style: solid;
}

.car .like-container::before {
    border-width: 1.8em;
}

.car .like-container::after {
    border-width: 1.8em;
    border-right-color: rgba(0,0,0,0.3);
    border-top-color: rgba(0,0,0,0.3);
}

.like-button {
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
	width: 25px;
	cursor: pointer;
}

/* RESPONSIVE */

@media only screen and (max-width: 900px) {
    #cars-container {
		margin-top: 30px;
		margin-left: -1%;
		width: 102%;
	}

	.car {
		width: 48%;
		margin: 10px 1%;
	}
}

@media only screen and (max-width: 550px) {
    #cars-container {
		margin-top: 30px;
		margin-left: 0;
		width: 100%;
	}

	.car {
		width: 100%;
		margin: 10px 0;
	}
}


/* MOBILE */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px) {

  	#header {
  		margin-top: 20px;
  	}

  	#header #logo {
  		width: 30%;
  		display: inline-block;
  		vertical-align: middle;
  		margin-right: 20px;
  	}

  	#header h1 {
  		font-size: 90%;
  		font-weight: 300;
  		display: inline-block;
  	}

  	#beepi-master-container {
		position: relative;
		width: 100%;
		left: 0;
	}

  	#cars-container {
		margin-top: 30px;
		margin-left: 0;
		width: 100%;
	}

	.car {
		width: 100%;
		margin: 10px 0;
	}

	.car .car-info {
		bottom: 0;
	}

	.car .like-container {
		margin-left: 0;
	}

	#range-container {
		width: 80%;
		margin-left: 10%;
		margin-top: 30px;
	}
  	
  	#buckets-master-container, #buckets-container, .buckets-background {
  		height: 75px;
  	}

  	#search-bar {
		width: 90%;
		margin-left: 5%;
		height: 40px;
		padding-left: 10px;
		font-size: 12pt;
		margin-top: 20px;
  	}

  	#results-summary {
  		width: 100%;
  		text-align: center;
  		font-size: 90%;
  	}

  	#view-all {
  		margin-top: 15px;
  		margin-right: 10px;
  	}
}








